---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactForm from "../../components/contact/ContactForm.jsx";
---

<BaseLayout>
<section class="contact-section">

  <!-- FILA 1 – FORMULARIO -->
  <div class="row form-row">
    <div class="contact-form">
      <ContactForm client:load />
    </div>
  </div>

  <!-- TÍTULO GENERAL -->
  <h1 class="main-title">UBICACIÓN</h1>

  <!-- FILA 2 – DOS UBICACIONES -->
  <div class="row ubications-row">

    <!-- UBICACIÓN 1 -->
    <div class="ubication-box">
      <h2>Oficina Central - Chorrillos</h2>
      <p class="label">Dirección:</p>
      <p class="address">Mz s lote 4, Luis Felipe de las Casas, Chorrillos, Lima – Perú</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.7348167900417!2d-77.0195221784364!3d-12.196926233005858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b75d7d880c25%3A0xc2b923cf4e303692!2sS11%2C%20Chorrillos%2015067!5e0!3m2!1ses!2spe!4v1764468886405!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>

    <!-- UBICACIÓN 2 -->
    <div class="ubication-box">
      <h2>Sucursal - Chilca</h2>
      <p class="label">Dirección:</p>
      <p class="address">
        Av Miramar, Chilca, Peru
      </p>

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7790.071724075499!2d-76.737907!3d-12.513782000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910575d69ff3593d%3A0x233c80f05128d7a5!2sAv%20Miramar%2C%20Chilca%2015871%2C%20Peru!5e0!3m2!1sen!2sus!4v1764468593689!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>

</section>
</BaseLayout>

<style lang="scss">
.contact-section {
  width: 100%;
  padding: 2em;

  .main-title {
    text-align: center;
    font-size: 2.2rem;
    color: #0174B7;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }

  .form-row {
    background-color: #0174B7;

    .contact-form {
      margin: 2em;
      width: 100%;
      max-width: 700px;
    }
  }

  .ubications-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
    }
  }

  .ubication-box {
    background: #0174B7;
    padding: 1.5em;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

    h2 {
      margin-bottom: 0.5em;
      font-size: 1.6rem;
      color: #ffffff;
    }

    .label {
      margin: 0;
      font-weight: bold;
      color: #fff;
      font-size: 1rem;
      margin-top: 0.5em;
    }

    .address {
      margin: 0.2em 0 1em 0;
      color: #fff;
      font-size: 1rem;
    }

    iframe {
      width: 100%;
      height: 260px;
      border: 0;
      border-radius: 10px;
    }
  }
}
</style>
