---
import { BaseLayout } from '../layouts';
import { AboutUs, Services, Carrousel, Path, WorkProcess } from "../components";
import Animations from "../components/ui/Animations.jsx";

interface Img {
  src: string;
  alt: string;
}

const slides: Img[] = [
  { src: "/images/banner_1.webp", alt: "Banner" },
  { src: "/images/banner_2.webp", alt: "Banner" },
  { src: "/images/banner_3.webp", alt: "Banner" },
];
---

<BaseLayout>
  <Animations client:idle />

  <main class="reveal">
    <Carrousel slides={slides} />
  </main>

  <div class="reveal">
    <Services />
  </div>

  <div class="reveal">
    <AboutUs />
  </div>

  <div class="reveal">
    <Path />
  </div>

  <div class="reveal">
    <WorkProcess />
  </div>

</BaseLayout>

<style lang="scss">
  .reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
  }

  .reveal.show {
    opacity: 1;
    transform: translateY(0);
  }

  main {
    .banner-wrapper {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      max-width: 1530px;
      min-height: 70vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
        z-index: 100;
      }

      .wrapper-content {
        width: 90%;
        margin: auto;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 200;

        @media (min-width: 920px) {
          width: 60%;
        }

        .quote-wrapper {
          padding: 2em 0 0 0;

          a {
            text-decoration: auto;
          }
        }
      }
    }
  }

  @media (min-width: 920px) {
    main {
      .banner-wrapper {
        img {
          width: 100%;
          height: 70vh;
        }
      }
    }
  }
</style>
