---
import Icon from "astro-icon";
const isHomePage = Astro.url.pathname === "/";
---

<footer class="footer">
    <div class="footer-top">
        <div class="footer-top__information">
            <img
                    loading="lazy"
                    src="/logo.webp"
                    alt="Logo JCerna"

            />
            <p>
                Construimos con experiencia, calidad y garantía. Convertimos cada obra en un símbolo de excelencia y durabilidad. <strong> ¡Tenemos grandes profesionales, que hacen tus sueños reales!</strong>
            </p>
            <div class="footer-top__social-networks">
                <a
                        aria-label="Click para ir a facebook"
                        href="https://www.facebook.com/profile.php?id=61556938883205"
                        target="_blank"
                ><span>Facebook</span><Icon pack="mdi" name="facebook" size={40} /></a
                >

                <a
                        aria-label="Click para ir a Whatsapp"
                        href="https://api.whatsapp.com/send/?phone=51975700173&text=Hola%2C%20vengo%20de%20jcernaeirl.com/%20%C2%BFPodr%C3%ADan%20brindarme%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20servicios%3F"
                        target="_blank"
                ><span>Whatsapp</span>
                    <Icon pack="mdi" name="whatsapp" size={40} /></a
                >
                <a
                        aria-label="Click para ir a Whatsapp"
                        href="https://www.instagram.com/jcerna_eirl/"
                        target="_blank"
                ><span>Instagram</span>
                    <Icon pack="mdi" name="instagram" size={40} /></a
                >
                <a
                        aria-label="Click para ir a Whatsapp"
                        href="https://www.tiktok.com/@jcerna_eirl"
                        target="_blank"
                ><span>TikTok</span>
                    <Icon pack="simple-icons" name="tiktok" size={40} /></a
                >
            </div>
        </div>
        <div class="footer-top__sections">
            <h3>Enlaces rapidos</h3>
            <ul>
                <li><a href={isHomePage ? "#" : "/#"} rel="inicio">Inicio</a></li>
                <li>
                    <a href={isHomePage ? "#services" : "/#services"} rel="servicios"
                    >Servicios</a
                    >
                </li>
                <li>
                    <a href={isHomePage ? "#about-us" : "/#about-us"} rel="nosotros"
                    >Nosotros</a
                    >
                </li>
                <!-- <li><a href="/proyects" rel="proyectos">Proyectos</a></li> -->
                <li><a href="/proyects" rel="Proyectos">Proyectos</a></li>
                <li><a href="/contact" rel="contacto">Contacto</a></li>

            </ul>
        </div>
        <div class="footer-top__contacts">
            <h3>Consulta gratis</h3>
            <div>
                <span>Teléfono:</span>
                <p>
                    <Icon pack="mdi" name="cellphone" size={20} />
                    <a href="tel:975700173">994130305 - 981206438 </a>
                </p>
            </div>
            <div>
                <span>Correo:</span>
                <p>
                    <Icon pack="mdi" name="gmail" size={20} />
                    <a href="mailto:jcerna.eirl@gmail.com"
                    >jcerna.eirl@gmail.com
                    </a>
                </p>
            </div>
            <div>
                <span>Dirección:</span>
                <p>
                    <Icon pack="mdi" name="location" size={20} />
                    <a href="https://maps.app.goo.gl/ySFRkuWjgUYRaAe79" target="_blank"
                    >AA.HH, Luis Felipe de las Casas , Chorrillos</a
                    >
                </p>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <p>
            © 2025 Todos los derechos reservados <strong>
            Jcerna | Contratistas generales</strong
        > - Desarrollado por
            <a href="https://malbaperu.com" target="_blank">Malba Corporacion</a
            >
        </p>
    </div>
</footer>

<style lang="scss">

  .footer {
    display: flex;
    flex-direction: column;
    background: #0174B7;

    a {
      text-decoration: none;
      color: #fff;
    }

    .footer-top {
      padding: 2em;
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: center;


      grid-template-columns: repeat(3, 1fr);



      h3,
      span {
        color: white;
      }



      &__information {
        font-size: 1.2em;
        color: white;
        max-width: 23rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;

        img {
          border-radius: 0.5em;
          background: white;

          max-height: 120px;
        }

        p {
          margin: 1em 0 2em;

        }
      }

      &__social-networks {
        display: flex;
        justify-content: center;
        gap: 1em;
        a {
          width: max-content;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5em;
          color: white;

          span {
            display: none;
          }
        }
      }

      &__sections {
        color: #fff;
        h3 {
          margin-bottom: 1em;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          font-size: 1.1em;

        }
      }

      &__contacts {
        h3 {
          margin-bottom: 1em;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          margin-bottom: 1em;
          color: white;
        }
        p {
          display: flex;
          gap: 0.5em;
          align-items: center;
        }
      }
    }
    &__bottom {
      background: #000293;
      width: 100%;
      padding: 1em;
      border-top: 2px solid white;

      p {
        text-align: center;
        font-size: 0.9em;
        color: white;
        a {
          text-decoration: none;
        }
      }
    }
  }



  @media (max-width: 992px) {
    .footer {
      .footer-top {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5em;

        &__information {
          img {
            max-width: 80%;
            height: auto;
            max-height: 100px;
          }
        }
      }
    }
  }
</style>