---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import GalleryModal from "../../../components/ui/GalleryModal";
import { galleryItems } from "../../../data-list/gallery.js"; 
import { galleryImages } from "../../../data-list/galleryImages.js";

const { slug } = Astro.params;

const currentItem = galleryItems.find(item => item.slug === slug);

if (!currentItem) {
  throw new Error(`Galería no encontrada para: ${slug}`);
}
---

<BaseLayout>
  <section class="gallery-page">
    <h1>{currentItem.title}</h1>
    <GalleryModal images={galleryImages} client:load />
  </section>
</BaseLayout>

<style> .gallery-page { background: #014670; padding: 2em; h1 { text-align: center; color: white; padding-bottom: 1em; } .container { display: grid; grid-template-columns: repeat(4, 1fr); gap: 2em; margin: auto; img { width: 100%; height: 220px; object-fit: cover; border-radius: 5px; border: 3px solid gray; } } } @media (max-width: 800px) { .gallery-page { .container { grid-template-columns: repeat(1, 1fr); } } } </style>